<div id="filter">
    <label for="freetext-filter">Filter: </label>
    <input type="text" id="freetext-filter">

    <input type="checkbox" id="is-installed-filter" data-filter-type="installed">
    <label for="is-installed-filter">Show installed games only</label>

    <input type="checkbox" id="is-couch-coop-filter" data-filter-type="couch-coop">
    <label for="is-couch-coop-filter">Show couch co-op games only</label>

    <input type="checkbox" id="is-favorite-filter" data-filter-type="favorite">
    <label for="is-favorite-filter">Show favorite games only</label>
</div>